@media screen and (max-width:1170px){
    #icon-respon-menu{
        display: block;
    }
    #main-menu{
        display: none;
    }
    #search-box{
        margin-top: 25px;
        position: absolute;
        left: 190px;
    }
    #slider-introduce{
        display: none;
    }
    #wp-account{       
        text-align: center;
        margin-top: 25px;
        position: absolute;
       left: 240px;
    }
    #wp-search-hidden{
        left: -95px;
    }
}