body{
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 21px;
}
#wrapper{
    overflow: hidden;
}
#header{
    width: 100%;
    z-index: 10;
    position: relative;
}
/* style top-header */
#top-header{
    background: #e3b560;
    position: relative;
}
#top-header .container-top-header{
    padding: 5px;
    height: 36px;
}
#top-header .container-top-header i{
    font-size: 25px;
    margin:0px 20px 0px 0px;
    color: #624d0c;
}
#top-header .container-top-header p{
    font-size: 14px;
    margin:0px 20px 0px 0px;
    padding-top: 1px;
}
/* style bottom header */
#bottom-header{
    background: #f5deb3d9;
    
}
#logo{
    width: 150px; 
    height: 70px;
    display: block;
    margin-top: 10px;
}
#logo img{
    width: 100%;
    height: auto;
    display: block;
}
#main-menu{
    margin: 0px 20px 0px 0px;
    padding-top: 28px; 
}
#main-menu li{
    float: left;
    margin-left: 18px;
    height: 38px;
    overflow: hidden;
    position: relative;
}
#main-menu li a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    color: #333;
}
#main-menu li a:before{
    content: '';
    position: absolute;
    width: 100%;
    border-bottom: 3px solid #975a5e;
    left: -100px;
    bottom: 10px;
    transition: 0.5s;
   
}
#main-menu li a:hover{
    color: #975a5e;
    transition: 0.25s;
}
#main-menu li a:hover:before{
    left: 0;
}
#main-menu li.active a{
    color: #975a5e;
}
#main-menu li.active a:before{
    left: 0;
}

/* style search-box */
#search-box{
    margin-top: 25px;
    position: relative;
}
#search-box i{
    cursor: pointer;
    color: #000000;
    font-size: 27px;
    margin-right:20px;
}
#search-box i:hover{
    color: #975a5e;
    transition:all 0.25s;
}
#wp-search-hidden{
    /* display: ; */
    text-transform: scale(0);
    opacity: 0;
    width: 352px;
    left: -285px;
    position: absolute;
    top: 44px;
    background: white;
    border: 1px solid  rgb(102, 97, 97);
    border-radius: 5px;
    transition: 0.5s;
}
#wp-search-hidden .search-hd{
    padding: 5px;
}
#wp-search-hidden .search-hd .select-collection{
    padding: 5px 20px 5px 0px;
    margin-right: 5px;
    border-radius: 2px;
}
#wp-search-hidden  #key-box{
    padding: 3px 20px 3px 0px; 
    width: 201px; 
     
}
#wp-search-hidden i{
    font-size: 19px;
    margin-right: 0px;
    padding: 7px;
    background: #d6bd8e;
    color: white;
}
/* style account */
#wp-account{
    display: inline-block;
    margin-top: 25px;   
}
#wp-account i{
    cursor: pointer;
    color: #000000;
    font-size: 27px;
    margin-right:25px
}
#wp-account i:hover{
    color:#975a5e;
    transition: 0.25s;
}
/* style introduce slider */
#main-slider{
    position: relative;
}
#slider-introduce .close-intro i{
    top: -14px;
    position: absolute;
    right: -14px;
    font-size: 30px;
    cursor: pointer;
}
#slider-introduce{
    position: absolute;
    z-index: 1;
    color: white;
    width: 50%;
    height:auto;
    top: 100px;
    left: 200px;
    background: #6560607a;
    animation: hienthi 0.9s forwards;
    transition: all 0.5s;
}
@-webkit-keyframes hienthi{
    0%{transform: translateX(-500px); opacity: 0;}
    100%{transform: translateX(0px); opacity: 1;}
}
#slider-introduce h1.post-title{
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: -2px;
    word-spacing: 7px;  
    display: inline-block;
    padding-bottom: 20px;  
}
#slider-introduce .wp-intro-slider{
    padding: 20px;
}
#slider-introduce .border-intro{
    border-bottom:5px solid #975a5e;
    width: 100px;
    margin-bottom: 20px;
}
#slider-introduce p.post-slogan{
    font-size: 18px;
    margin-bottom: 40px;
}
#slider-introduce button{
    padding: 5px 20px;
    font-weight: 500;
    color: white;
    background:#975a5e ;
    border: none;
}
#slider-introduce button:hover{
    background:#966b6e ;
}
/* responsive menu */
#wp-respon-menu{
    position: fixed;
    right: -270px;
    min-height: 100%;
    width: 250px;
    background:gray;
    top: 36px;
    z-index: 100; 
    transition:all 0.5s ease-in;
}
#wp-respon-menu h1{
    text-align: center;
    font-size: 40px;
    color: wheat;
}
#wp-icon-title i{
    left: 4px;
    top: 17px;
    position: absolute;
    font-size: 30px;
    cursor: pointer;
}
#icon-respon-menu{
    font-size: 30px;
    position: absolute;
    right: 34px;
    top: 65px;
    color:#975a5e;
    display: none;
    cursor: pointer;
}
ul#respon-menu{

}
ul#respon-menu li{
    border-top: 1px solid black;
}
ul#respon-menu li a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    display: block;
    font-size: 15px;
    
}
.show{
    text-transform: scale(1) !important;
    opacity: 1 !important;
}